@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Macan';
    src: url('../../../../../Baljit\ Singh/Desktop/MacanPanWeb-Bold.ttf') format('woff2'),
         url('../../../../../Baljit\ Singh/Desktop/MacanPanWeb-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
